.menu-item {
    border:1px solid #a1a1a1;
    height: 10em;
    overflow: hidden;
    display: flex;
    margin-bottom: 5px;
    background-color: #eeeeee;
}

.menu-item-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.menu-item-description {
    display: flex;
    flex: 1;
}

.scrollable {
    flex: 1;
    overflow: scroll;
}

.menu-item-image {
    height: 10em;
    width: auto;
}

.editable:hover {
    color: #808080;
}
